/* Report.css */
.report-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.Embed-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .Embed-container {
    width: 100%;
    height: 100%;
  }
}

.report-menu {
  background-color: white;
  color: #007079;
}
